<p>
	<b>名前:</b>
	<%= @user.full_name %>
</p>

<p>
	<b>Email:</b>
	<%= @user.email %>
</p>

<p>
	<b>通知:</b>
	<%= @user.notice_me %>
</p>

<div class="footer_nav">
	<%= link_to '編集', edit_user_path(@user) %> &nbsp;
	<%= link_to '一覧に戻る', users_path %> &nbsp;
</div>
