<%= link_to '新規追加', new_client_path %>
<br />

<br />

<table class="index">
	<tr>
		<th>名前</th>
		<th>担当SE</th>
		<th>担当営業</th>
		<th>契約更新月</th>
		<th>利用可否</th>
		<th></th>
	</tr>

	<% @clients.each do |client| %>
	<tr>
		<td><%= client.name %></td>
		<td><%= client.user.full_name %></td>
		<td><%= client.sales_person.full_name %></td>
		<td><%= client.renewal_month.join(',') %></td>
		<td><%= client.usable %></td>
		<td> <%= link_to '表示', client %>
		<%= link_to '編集', edit_client_path(client) %>
		<%= link_to '削除', client, confirm: '削除しますか?', method: :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to '新規追加', new_client_path %>
