<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Sales person</th>
    <th>Renewal month</th>
    <th>Usable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.user.full_name %></td>
    <td><%= client.sales_person.full_name %></td>
    <td><%= client.renewal_month.join(',') %></td>
    <td><%= client.usable %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
