<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>User:</b>
  <%= @client.user.full_name %>
</p>

<p>
  <b>Sales person:</b>
  <%= @client.sales_person.full_name %>
</p>

<p>
  <b>Renewal month:</b>
  <%= @client.renewal_month %>
</p>

<p>
  <b>Notice me:</b>
  <%= @client.notice_me %>
</p>

<p>
  <b>Usable:</b>
  <%= @client.usable %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
