<p>
  <b>名前:</b>
  <%= @client.name %>
</p>

<p>
  <b>担当SE:</b>
  <%= @client.user.email_with_name %>
</p>

<p>
  <b>担当営業:</b>
  <%= @client.sales_person.email_with_name %>
</p>

<p>
  <b>契約更新月:</b>
  <%= @client.renewal_month.join(',') %>
</p>

<p>
  <b>利用可否:</b>
  <%= @client.usable %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
