<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>User:</b>
  <%= @client.user_id %>
</p>

<p>
  <b>Sales person:</b>
  <%= @client.sales_person_id %>
</p>

<p>
  <b>Renewal month1:</b>
  <%= @client.renewal_month1 %>
</p>

<p>
  <b>Renewal month2:</b>
  <%= @client.renewal_month2 %>
</p>

<p>
  <b>Renewal month3:</b>
  <%= @client.renewal_month3 %>
</p>

<p>
  <b>Renewal month4:</b>
  <%= @client.renewal_month4 %>
</p>

<p>
  <b>Renewal month5:</b>
  <%= @client.renewal_month5 %>
</p>

<p>
  <b>Renewal month6:</b>
  <%= @client.renewal_month6 %>
</p>

<p>
  <b>Renewal month7:</b>
  <%= @client.renewal_month7 %>
</p>

<p>
  <b>Renewal month8:</b>
  <%= @client.renewal_month8 %>
</p>

<p>
  <b>Renewal month9:</b>
  <%= @client.renewal_month9 %>
</p>

<p>
  <b>Renewal month10:</b>
  <%= @client.renewal_month10 %>
</p>

<p>
  <b>Renewal month11:</b>
  <%= @client.renewal_month11 %>
</p>

<p>
  <b>Renewal month12:</b>
  <%= @client.renewal_month12 %>
</p>

<p>
  <b>Notice me:</b>
  <%= @client.notice_me %>
</p>

<p>
  <b>Usable:</b>
  <%= @client.usable %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
