<table class="form">

	<tr>
		<td>名前:</td>
		<td> <%= @client.name %> </td>
	</tr>
	<tr>
		<td>担当SE:</td>
		<td> <%= @client.user.email_with_name %> </td>
	</tr>
	<tr>
		<td>営業担当:</td>
		<td> <%= @client.sales_person.email_with_name %> </td>
	</tr>
	<tr>
		<td>契約更新月:</td>
		<td> <%= @client.renewal_month.join(',') %> </td>
	</tr>
	<tr>
		<td>利用可否:</td>
		<td> <%= @client.usable %> </td>
	</tr>
</table>

<div class="footer_nav">
	<%= link_to '編集', edit_client_path(@client) %> &nbsp;
	<%= link_to '一覧に戻る', clients_path %>
</div>
