<table class="menu">
	<tr>
		<td><%= link_to 'SEマスタ',  users_path %></td>
	</tr>

	<tr>
		<td><%= link_to 'システムマスタ',  systems_path %></td>
	</tr>

	<tr>
		<td><%= link_to '営業担当者マスタ',  sales_people_path %></td>
	</tr>

	<tr>
		<td><%= link_to '顧客マスタ',  clients_path %></td>
	</tr>

	<tr>
		<td><%= link_to '契約更新メール通知',  notice_index_path %></td>
	</tr>
	
	<tr>
		<td><%= link_to '新規問合', new_enquiry_path %></td>
	</tr>

	<tr>
		<td><%= link_to '問合検索', enquiries_path %></td>
	</tr>

</table>
