<p>
  <b>名前:</b>
  <%= @sales_person.full_name %>
</p>

<p>
  <b>Email:</b>
  <%= @sales_person.email %>
</p>

<p>
  <b>電話番号1:</b>
  <%= @sales_person.phone1 %>
</p>

<p>
  <b>電話番号2:</b>
  <%= @sales_person.phone2 %>
</p>

<div class="footer_nav">
<%= link_to '編集', edit_sales_person_path(@sales_person) %> &nbsp;
<%= link_to '一覧に戻る', sales_people_path %>
</div>
