<!DOCTYPE html>
<html>
	<head>
		<title>Enqy</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="nav">
			<h1> <%= @title %> </h1>
			<br/>
			<br/>
			<% if user_signed_in? %>
			Signed in as <%= current_user.full_name %>.
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<% end %>
		</div>

		<div id="main_content">
			<p class="notice">
				<%= notice %>
			</p>
			<p class="alert">
				<%= alert %>
			</p>
			<%= yield %>
			<div class="footer_nav">
				<%= link_to "メニューに戻る", root_path %>
			</div>
		</div>
	</body>
</html>
